<form [formGroup]="form" novalidate (ngSubmit)="submit()">

    <h2>Login as administrator</h2>

    <div class="form-control">
        <label for="email">Email</label>
        <input id="email" type="email" formControlName="email">
        <div *ngIf="form.controls['email'].touched && form.controls['email'].invalid" class="validation">
        
            <small *ngIf="form.controls['email'].errors?.required">Enter Email</small>
            <small *ngIf="form.controls['email'].errors?.email">Enter valid Email</small>
            
        </div>
    </div>

    <div class="form-control">
        <label for="password">Password</label>
        <input id="password" type="password" formControlName="password">
        <div *ngIf="form.controls['password'].touched && form.controls['password'].invalid" class="validation">
            
            <small *ngIf="form.controls['password'].errors?.required">Enter Password</small>
            <small *ngIf="form.controls['password'].errors?.minlength">
                Password must be at least  {{form.controls['password'].errors?.minlength.requiredLength}} characters. 
                Now it is {{form.controls['password'].errors?.minlength.actualLength}}
            </small>
            
        </div>
    </div>

    <button type="submit" class="btn btn-primary btn-block" [disabled]="form.invalid || submitted">Logon</button>
    
   

</form>